.default_input input {
  width: 100%;
  height: 40px;
}

.task-form {
  .default_input input {
    width: 100%;
    height: 40px;
    background-color: #a1bdd914;
    color: white;
    border-radius: 10px;
  }
}

.task-form__row {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
